<title>个人简历</title>
<style type="text/css">
    body,td,th {
        font-size: 16px;
        color: #000;
    }
</style>
</head>

<body>
<center>
    <p><b>个人简历</b></p>
    <table cellpadding="0" cellspacing="0" border="1">
        <tr>
            <td width="64" height="33">姓名</td>
            <td width="109">吴彦祖（Daniel Wu）</td>
            <td width="73">性别</td>
            <td width="46">男</td>
            <td width="112">民族</td>
            <td width="159">汉</td>
            <td width="154" rowspan="4"><p ><img src="/image/azz.jpg" width="154" height="203" /></p></td>
        </tr>
        <tr>
            <td height="31">身高</td>
            <td>183CM</td>
            <td>体重</td>
            <td>170磅</td>
            <td>国籍</td>
            <td>美国</td>
        </tr>
        <tr>
            <td height="31">学制</td>
            <td>四年制</td>
            <td>学历</td>
            <td>本科</td>
            <td>毕业时间</td>
            <td>1995</td>
        </tr>
        <tr>
            <td height="46">户籍</td>
            <td colspan="3">加利福尼亚州伯克利奥林达</td>
            <td>出生年月</td>
            <td>1974年9月30日</td>
        </tr>
        <tr>
            <td height="39">专业</td>
            <td>建筑系</td>
            <td>毕业学校</td>
            <td colspan="2">美国俄勒冈大学</td>
            <td>就业范围</td>
            <td>全国</td>
        </tr>
        <tr>
            <td height="39">外语水平</td>
            <td colspan="3"><p>Native speaker。</p></td>
            <td>计算机水平</td>
            <td colspan="2"><p >熟练使用Office、WPS、PPT等办公软件</p></td>
        </tr>
        <tr>
            <td><p >奖励情况</p></td>
            <td colspan="6"><p >第41届台湾电影金马奖最佳男配角奖</p>
                <p >第26届香港电影金像奖新晋导演奖。 </p>
                <p >第7届华语电影传媒大奖最佳新导演奖。 </p>
                <p >两届台湾电影金马奖最佳男主角提名。 </p>
                <p >两届香港电影金像奖最佳男主角提名。 </p></td>
        </tr>
        <tr>
            <td><p >通讯地址</p></td>
            <td colspan="4"><p >美国旧金山</p></td>
            <td><p >联系电话</p></td>
            <td><p >15215364</p></td>
        </tr>
        <tr>
            <td><p >E-mail</p></td>
            <td colspan="3"><p >yanzuwu@gmail.com</p></td>
            <td>邮编</td>
            <td>95476</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td height="28" colspan="7">个人经历</td>
        </tr>
        <tr>
            <td colspan="7"><p >2010年4月6日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与相恋8年的Lisa Selesner在南非举行婚礼</p></td>
        </tr>
        <tr>
            <td colspan="7"><p >2013年5月30日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;妻子产下一女，女儿取名吴斐然</p></td>
        </tr>
        <tr>
            <td colspan="4">个人博客</td>
            <td colspan="3"><a href="http://home.wuyanzu.com">http://home.wuyanzu.com</a></td>
        </tr>
    </table>
    <p>&nbsp;</p>

</center>


</body>